body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before,
q:after {
    content: ”;
}

abbr,
acronym {
    border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    color: #666;
    font-size: 12px;
    font-family: "微软雅黑";
}
@font-face {font-family: "uplan";
  src: url('../fonts/iconfont.eot?t=1462759648'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1462759648#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1462759648') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1462759648') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1462759648#iconfont') format('svg'); /* iOS 4.1- */
}


[class^="icon-u-"]:before,
[class*=" icon-u-"]:before {
    font-family: "uplan";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#objContainer_shape {
    margin-bottom: 20px;
    width: 200px!important;
}
.marginbottom{
    margin-bottom: 20px;
}


/* #objContainer_width,
#objContainer_height,
#objContainer_color {
    width: 50px;
}

#objContainer_color {
    width: 100px;
}

#objContainer_border_size,
#line_size {
    width: 50px;
}

#objContainer_border_style,
#line_style {
    width: 80px;
}

#objContainer_border_color,
#line_color {
    width: 70px;
} */

#canvas {
    background: #eeeeee;
}

.header {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    background: #0085a1;
    color: #fff;
    position: relative;
}

.header .logo {
    position: absolute;
    left: 15px;
    top: 0;
}

.header .logo img {
    vertical-align: middle;
}

.header_body {
    text-align: center;
}

.header_right {
    position: absolute;
    right: 0;
    top: 0;
}

.header_right>li {
    float: left;
    min-width: 70px;
    height: 50px;
}

.header_right>li>a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    background: #017c96;
    text-align: center;
}

.header_right>li>a:hover {
    background: #007088;
}

.wrapper {
    padding: 0 350px 0 240px;
    position: relative;
    height: 100%;
}

.editor {
    height: 100%;
    position: relative;
}

.editor:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: .3;
    background: url(../images/grid.png) 0 0 repeat;
    pointer-events: none;
    display: none;
    height: 100%;
    width: 100%;
}
.grid:after{
    display: block;
}
.fodder {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    background: #f4f4f4;
    overflow: hidden;
    height: 100%;
}

.attr {
    position: absolute;
    right: 0;
    top: 0;
    width: 305px;
    height: 100%;
    background: #f4f4f4;
}

.tool {
    width: 45px;
    height: 100%;
    position: absolute;
    right: 305px;
    top: 0;
    border-right: 1px solid #ddd;
    background: #e2e2e2;
}

.fodder_nav {
    width: 50px;
    float: left;
    border: 1px solid #ccc;
    height: 100%;
}

.fodder_nav li {
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.fodder_nav li:hover,
.fodder_nav li.active {
    background: #e8e8e8;
    color: #0085a1;
}

.fodder_nav li i {
    display: block;
}

.fodder_body {
    width: 190px;
    float: left;
    border: 1px solid #ccc;
    border-left: 0;
    border-bottom: 0;
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}
.fodder_body ul{
    display: none;
}

.fodder_body .shape {
    overflow: hidden;
    display: block;
}

.shape li {
    width: 50%;
    height: 95px;
    text-align: center;
    line-height: 95px;
    float: left;
    color: #0085a1;
    border-bottom: 1px solid #ddd;
}

.shape li:nth-child(2n+1) {
    border-right: 1px solid #ddd;
}

.shape li:hover {
    background: #e8e8e8;
}

.shape li img {
    width: 60%;
    vertical-align: middle;
}

.shape li i {
    font-size: 60px;
}

.picture {
    overflow: hidden;
}

.picture li {
    width: 50%;
    height: 95px;
    text-align: center;
    line-height: 95px;
    float: left;
    color: #0085a1;
    border-bottom: 1px solid #ddd;
}

.picture li:nth-child(2n+1) {
    border-right: 1px solid #ddd;
}

.picture li:hover {
    background: #e8e8e8;
}

.picture li img {
    width: 60%;
    vertical-align: middle;
}

.picture li i {
    font-size: 60px;
}

.text {
    overflow: hidden;
}

.text li {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    color: #0085a1;
    border-bottom: 1px solid #ddd;
}

.text li:hover {
    background: #e8e8e8;
}

.text li img {
    width: 80%;
    vertical-align: middle;
}
.template {
    overflow: hidden;
}

.template li {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    float: left;
    color: #0085a1;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.template li:hover {
    background: #e8e8e8;
}

.template li img {
    width: 100%;
    vertical-align: middle;
}



.styleAttr {
    height: 100%;
    padding-bottom: 100px;
}

.styleAttr ul {
    display: none;
}

.tool li {
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #7f7f7f;
    border-bottom: 1px solid #fff;
}

.tool li:hover {
    background: #c4c4c4;
}

.tool i {
    font-size: 16px;
}

.attr_nav {
    border-bottom: 1px solid #ddd;
    height: 50px;
}

.attr_nav a {
    float: left;
    width: 50%;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}

.attr_nav a.active {
    background: #646464;
    color: #fff;
}

.attr ul {
    padding: 0 10px;
    background: #fff;
    overflow: hidden;
}

.attr ul>li {
    padding: 20px 0;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.attr ul>li>label {
    width: 5em;
    float: left;
    padding-top: 7px;
    font-weight: bold;
    color: #777777;
}

.attr ul>li>div {
    float: left;
    position: relative;
}

.attr ul>li>div>var {
    font-style: normal;
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    text-align: center;
    color: #cdcdcd;
}

.attr input[type="text"],
.attr select {
    float: left;
    width: 200px;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.attr_form_two>div>input[type="text"],
.attr_form_two>div>select {
    width: 100px;
}

.attr_form_three>div>input[type="text"],
.attr_form_three>div>select {
    width: 66.6px;
}

.attr_form_three_2>div:nth-of-type(1)>input[type="text"],
.attr_form_three_2>div:nth-of-type(1)>select {
    width: 50px;
}

.attr_form_three_2>div:nth-of-type(2)>input[type="text"],
.attr_form_three_2>div:nth-of-type(2)>select {
    width: 70px;
}

.attr_form_three_2>div:nth-of-type(3)>input[type="text"],
.attr_form_three_2>div:nth-of-type(3)>select {
    width: 80px;
}

.attr_form_three_3>div>input[type="text"],
.attr_form_three_3>div>select {
    width: 50px;
}

.attr_form_three_3>div:nth-of-type(3)>input[type="text"],
.attr_form_three_3>div:nth-of-type(3)>select {
    width: 100px;
}

.up-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.rightMenu {
    width: 150px;
    list-style: none;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0;
    position: fixed;
    display: none;
    z-index: 99;
}

.rightMenu li {
    height: 40px;
    border-bottom: 1px solid #eee;
}

.rightMenu li a,
.rightMenu li a:hover {
    display: block;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #666;
    text-decoration: none;
}
